<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Add course</title>
</head>
<script>
function goback(){
	window.location.assign("__MODULE__/User/utility");
}
</script>
<body>
<form method="post" action="__URL__/insert">
<table align="center">
<tr><td>course id</td><td><input type="text" maxlength=20 size=20 name="course_id"></td></tr>
<tr><td>name</td><td><input type="text" maxlength=20 size=20 name="name"></td></tr>
<tr><td>teacher id</td><td><input type="text" maxlength=20 size=20 name="teacher_id"></td></tr>
<tr><td>credit</td><td><input type="text" maxlength=20 size=20 name="credit"></td></tr>
<tr><td>Allowed Year</td><td><input type="text" maxlength=20 size=20 name="allowed_year"></td></tr>
<tr><td>Cancel Year</td><td><input type="text" maxlength=20 size=20 name="cancel_year"></td></tr>
<tr><td colspan="2" align="right"><input type="submit" value="ok"><input type="button" value="return" onclick="goback()"></td></tr>
</table>
</form>
</body>
</html>