<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Update course</title>
</head>
<body>
<form method="post" action="__URL__/update">
<input type="hidden" name="course_recid" value="{$vo.course_recid}" />
<table>
	<tr><td>Course ID</td><td>{$vo.course_id}</td></tr>
<tr><td>name</td><td><input type="text" value="{$vo.name}" maxlength=20 size=20 name="name"></td></tr>
<tr><td>teacher id</td><td><input type="text" value="{$vo.teacher_id}" maxlength=20 size=20 name="teacher_id"></td></tr>
<tr><td>credit</td><td><input type="text" value="{$vo.credit}" maxlength=20 size=20 name="credit"></td></tr>
<tr><td>allowed grade</td><td><input type="text" value="{$vo.allowed_grade}" maxlength=20 size=20 name="allowed_grade"></td></tr>
<tr><td>cancel grade</td><td><input type="text" value="{$vo.cancel_grade}" maxlength=20 size=20 name="cancel_grade"></td></tr>
<tr><td><input type="submit" value="ok"></td></tr>
</table>
</form>
</body>
</html>