<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Enroll</title>
</head>
<script>
function goback(){
	window.location.assign("__MODULE__/User/utility");
}
</script>
<body>
<form method="post" action="__URL__/enroll">
<input type="hidden" name="course_id" value="{$course.course_id}">
<input type="hidden" name="allowed_year" value="{$course.allowed_year}">
<input type="hidden" name="cancel_year" value="{$course.cancel_year}">
<table align="center">
<tr><td colspan="2" align="right"><input type="button" value="return" onclick="goback()"></td></tr>
<tr><th align="left">Course:</th><td>{$course.name}</td></tr>
<tr><th align="left">Student id:</th><td><input type="text" name="student_id" placeholder="Must be 10 digits" pattern="\d{10}" required="required"></td></tr>
<tr><th align="left">Enroll year:</th><td><input type="text" name="enroll_year"></td></tr>
<tr><td colspan="2" align="right"><input type="submit" value="enroll"></td></tr>
</table>
</form>

</body>
</html>