<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Search</title>
</head>
<script>
function goback(){
	window.location.assign("__MODULE__/User/utility");
}
</script>
<body>
<form method="post" action="__URL__/findByStudentDisplay">
<table align="center">
<tr><td>Class:</td><td><input name="class" type="text"></td></tr>
<tr><td>Course id:</td><td><input name="course_id" type="text" 
placeholder="Must be 7 digits" pattern="\d{7}"></td></tr>
<tr><td>Course name:</td><td><input name="course_name" type="text"></td></tr>
<tr><td colspan="2" align="right"><input type="submit" value="search">
&nbsp;<input type="button" value="return" onclick="goback()"></td></tr>
</table>
</form>
</body>
</html>