<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Find student</title>
<script>
function edit(course_recid) {
	//console.log(student_recid);
	window.location.assign("__URL__/edit?course_recid=" + course_recid);
}
function enroll(course_id) {
	//TODO: Jump to show courses
	window.location.assign("__URL__/enroll?course_id=" + course_id);
}
function del(course_recid) {	
	//TODO: Delete a student. It may use AJAX
	window.location.assign("__URL__/delete?course_recid=" + course_recid);
}
function score(course_id){
	window.location.assign("__URL__/score?course_id=" + course_id);
}
function goback(){
	window.location.assign("__MODULE__/User/utility");
}
</script>
</head>
<body>
<table border="1" align="center">
	<tr>
	<th>#</th><th>ID</th><th>Name</th><th>Teacher id</th><th>Credit</th><th>Allowed grade</th><th>Cancel grade</th><th>Action</th>
	</tr>
	<volist name="list" id="vo" empty="Nothing found">
	<tr>
	<td>{$i}</td><td>{$vo.course_id}</td><td>{$vo.name}</td>
	<td>{$vo.teacher_id}</td><td>{$vo.credit}</td><td>{$vo.allowed_grade}</td><td>{$vo.cancel_grade}</td>
	<td>
	<eq name="Think.session.permissions.admin" value="1"><button onclick="edit({$vo.course_recid})">Edit</button></eq>
	<eq name="Think.session.permissions.admin" value="1"><button onclick="enroll({$vo.course_id})">Enroll</button></eq>
	<eq name="Think.session.permissions.admin" value="1"><button onclick="del({$vo.course_recid})">Delete</button></eq>
	<eq name="Think.session.permissions.score" value="1"><button onclick="score({$vo.course_id})">Score</button></eq>
	</td>
	</tr>
	</volist>
	<tr><td colspan="8" align="right"><input type="button" value="return" onclick="goback()"></td></tr>
</table>
</body>
</html>
