<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Find student</title>
<script>
function edit(course_recid) {
	//console.log(student_recid);
	window.location.assign("__URL__/edit?course_recid=" + course_recid);
}
function del(course_id) {	
	//TODO: Delete a student. It may use AJAX
	window.location.assign("__URL__/delete?course_id=" + course_id);
}
function score(course_id){
	window.location.assign("__URL__/score?course_id=" + course_id);
}
function findByStudent(){
	window.location.assign("__URL__/findByStudent");
}
function findByClass(){
	window.location.assign("__URL__/findByClass");
}
function findByTeacher(){
	window.location.assign("__URL__/findByTeacher");
}
function goback(){
	window.location.assign("__MODULE__/User/utility");
}
</script>
</head>
<body>
<form action="__URL__/findCourse" method="post">
<div align="center">
id:<input name="course_id" type="text">
name:<input name="name" type="text">
<input type="submit" value="search">
</div>
</form>
<table border="1" align="center">
	<tr><td colspan="8" align="right">
	<eq name="Think.session.permissions.read" value="1"><button onclick="findByStudent()">Find By Student</button></eq>
    &nbsp;<eq name="Think.session.permissions.read" value="1"><button onclick="findByTeacher()">Find By Teacher</button></eq>
	&nbsp;<input type="button" value="return" onclick="goback()"></td></tr>
	<tr>	
	<th>#</th><th>ID</th><th>Name</th><th>Teacher id</th><th>Credit</th><th>Allowed Year</th><th>Cancel Year</th><th>Action</th>
	</tr>
	<volist name="list" id="vo" >
	<tr>
	<td>{$i}</td><td>{$vo.course_id}</td><td>{$vo.name}</td>
	<td>{$vo.teacher_id}</td><td>{$vo.credit}</td><td>{$vo.allowed_year}</td><td>{$vo.cancel_year}</td>
	<td>
	<eq name="Think.session.permissions.admin" value="1"><button onclick='edit("{$vo.course_recid}")'>Edit</button></eq>
	<eq name="Think.session.permissions.admin" value="1"><button onclick='del("{$vo.course_id}")'>Delete</button></eq>
	<eq name="vo.allow_score" value="1"><button onclick='score("{$vo.course_id}")'>Score</button></eq>
	</td>
	</tr>
	</volist>
</table>
</body>
</html>
