<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Score</title>
</head>
<script>
function goback(){
	window.location.assign("__MODULE__/User/utility");
}
</script>
<body>
<form method="post" action="__URL__/score">
<table align="center" border="1">
<tr>
	<th>#</th>
	<th>Enroll Year</th>
	<th>Student ID</th>
	<th>Name</th>
	<th>Score</th>
</tr>
<volist name="list" id="vo">
<tr>
	<td>{$i}</td>
	<td>{$vo.enroll_year}</td>
	<td>{$vo.student_id}</td>
	<td>{$vo.student_name}</td>
	<td><input type="text" name='score[{$vo.enroll_id}]' value="{$vo.grades}"></td>
</tr>
</volist>
</table>
<div align="center">
<input type="submit" value="Submit" />
<input type="button" value="return" onclick="goback()" />
</div>
</form>
</body>
</html>