<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>User information</title>
</head>
<script>
function edit(user_id) {
	//console.log(student_recid);
	window.location.assign("__APP__/User/edit?user_id=" + user_id);
}
function information(user_id) {
	window.location.assign("__URL__/find?user_id=" + user_id);
}
</script>
<body>
<table border="1">
	<tr>
	<th>ID</th><th>Type</th><th>User</th>
	<th>Action</th>
	</tr>
	<tr>
	<td>{$res.id}</td><td>{$res.type}</td><td>{$res.user}</td>
	<td>
	<eq name="$Think.session.permissions.read" value="1"><button onclick="edit({$res.user})">Edit</button></eq>
	<eq name="$Think.session.permissions.read" value="1"><button onclick="information({$res.user})">Information</button></eq>
	</td>
	</tr>
</table>
</body>
</html>