<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Find student</title>
<script>
function edit(teacher_recid) {
	//console.log(student_recid);
	window.location.assign("__URL__/edit?teacher_recid=" + teacher_recid);
}
function show_courses(teacher_id) {
	window.location.assign("__APP__/Course/find?teacher_recid=" + teacher_recid);
	//TODO: Jump to show courses
}
function del(teacher_recid) {	
	//TODO: Delete a student. It may use AJAX
	window.location.assign("__URL__/delete?teacher_recid=" + teacher_recid);
}
</script>
</head>
<body>
<table border="1">
	<tr>
	<th>#</th><th>ID</th><th>Name</th><th>Action</th>
	</tr>
	<volist name="list" id="vo" empty="Nothing found">
	<tr>
	<td>{$i}</td><td>{$vo.teacher_id}</td><td>{$vo.name}</td>
	<td>
	<eq name="$Think.session.permissions.admin" value="1"><button onclick="edit({$vo.teacher_recid})">Edit</button></eq>
	<eq name="$Think.session.permissions.read" value="1"><button onclick="show_cousrces({$vo.teacher_id})">Courses</button></eq>
	<eq name="$Think.session.permissions.admin" value="1"><button onclick="del({$vo.teacher_recid})">Delete</button></eq>
	</td>
	</tr>
	</volist>
</table>
</body>
</html>
