<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Update user</title>
</head>
<body>
<input type="hidden" name="id" value="{$vo.id}" />
<form method="post" action="__URL__/update">
<table>
<tr>
<td>
<eq name="$Think.session.permissions.read" value="1">password:<input type="password" value="{$vo.password}" name="password" /></eq>
</td>
</tr>
<tr>
<td>
<eq name="$Think.session.permissions.admin" value="1">type:<input type="text" value="{$vo.type}" name="type" /></eq>
</td>
</tr>
<tr>
<td>
<eq name="$Think.session.permissions.admin" value="1">user:<input type="text" value="{$vo.user}" name="user" /></eq>
</td>
</tr>
<tr><td><input type="submit" value="ok"></td></tr>
</table>
</form>
</body>
</html>