<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Change password</title>
</head>
<script>
function goback(){
	window.location.assign("__MODULE__/User/utility");
}
</script>
<body>
<form method="post" action="__URL__/passwd" align="center">
<table align="center">
	<tr><th align="left">User</th><td align="left">{$Think.session.user}</td></tr>
	<tr><th align="left">Type</th><td align="left">{$Think.session.type}</td></tr>
	<tr><th align="left">New Password</th><td align="left"><input type="password" name="password" /></td></tr>
	<tr><td colspan="2" align="right"><input type="submit" value="ok">
	&nbsp;<input type="button" value="return" onclick="goback()"></td></tr>
	</table>
</form>
</body>
</html>