<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Find student</title>
<script>
function edit(student_recid) {
	//console.log(student_recid);
	window.location.assign("__URL__/edit?student_recid=" + student_recid);
}
function show_courses(student_id) {
	//TODO: Jump to show courses
	window.location.assign("__MODULE__/Course/findByStudentDisplay?student_id=" + student_id);
}
function del(student_id) {	
	//TODO: Delete a student. It may use AJAX
	window.location.assign("__URL__/delete?student_id=" + student_id);
}
function goback(){
	window.location.assign("__MODULE__/User/utility");
}
</script>
</head>
<body>
<form action="__URL__/findStudent" method="post">
<div align="center">
id:<input name="student_id" type="text">
name:<input name="name" type="text">
<input type="submit" value="search">
</div>
</form>
<table border="1" align="center">
	<tr><td colspan="8" align="right"><input type="button" value="return" onclick="goback()"></td></tr>
	<tr>
	<th>#</th><th>ID</th><th>Name</th><th>Gender</th>
	<th>Entrance Year</th><th>Entrance Age</th><th>Class</th>
	<th>Action</th>
	</tr>
	<volist name="list" id="vo">
	<tr>
	<td>{$i}</td><td>{$vo.student_id}</td><td>{$vo.name}</td><td><if condition="$vo.gender eq 0">M<else/>F</if></td>
	<td>{$vo.entrance_year}</td><td>{$vo.entrance_age}</td><td>{$vo.class}</td>
	<td>
	<eq name="Think.session.permissions.admin" value="1"><button onclick='edit("{$vo.student_recid}")'>Edit</button></eq>
	<eq name="Think.session.permissions.read" value="1"><button onclick='show_courses("{$vo.student_id}")'>Courses</button></eq>
	<eq name="Think.session.permissions.admin" value="1"><button onclick='del("{$vo.student_id}")'>Delete</button></eq>
	</td>
	</tr>
	</volist>
	
</table>
</body>
</html>
